<form action="add_user" method="POST">
    <p>Nome: </p>
    <input type="text" name="name">
    <p>Email: </p>
    <input type="text" name="email">
    <p>Senha: </p>
    <input type="text" name="password"></textarea>

    <button type="submit">Cadastrar Usuário</button>

</form>