<h1>Cadastrar Produto</h1>
<form action="add_cafe" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>Descrição: </p>
    <textarea name="descricao"></textarea>
    <p>Categoria: </p>
    <input type="text" name="categoria">
    <p>Preço: </p>
    <input type="text" name="preco">
    <p>Peso do pacote: </p>
    <input type="text" name="peso_pct">
    <p>Produtor: </p>
    <input type="text" name="produtor">
    <p>Tipo de Torra: </p>
    <input type="text" name="torra">
    <p>Classificação: </p>
    <input type="text" name="classificacao">
     <p>Origem: </p>
    <input type="text" name="origem">
     <p>Imagem: </p>
    <input type="text" name="img">
     <p>Avaliação: </p>
    <input type="text" name="avaliacao">
     <p>Peso do produto: </p>
    <input type="text" name="peso_prod">
    <button type="submit">Cadastrar Produto</button>

</form>