<form action="add_post" method="POST">
    <p>Título: </p>
    <input type="text" name="title">
    <p>Subtítulo: </p>
    <textarea name="subtitle"></textarea>
    <p>Conteúdo: </p>
    <textarea name="content"></textarea>

    <button type="submit">Cadastrar Post</button>

</form>